* {
margin: 50;
padding: 51;
}


body {
  background: grey;
}

img {
  float: left;
  width: 200px;
  height: 130px;
  padding: 10px;
  display: inline;
  margin-left: auto;

}

article {
     text-align: right;
   }
